<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

    <h2 id="mz-header">MZ-Header</h2>
    <div id="mz-header-group" class="container"></div>

    <h2 id="hexdump">Hexdump</h2>
    <div id="hexdump-group" class="container">
    </div>

    <style>
        tr {
            margin: 0px 5px;
        }
    </style>
    
    <script>
        $(document).ready(() => {
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "http://localhost:3000/data",
                success: function(result) {
                    console.log('Loading file data done!')
                    dataJSON = result
                    //getMZHeader(file);
                    getHexdump(dataJSON);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        $('#mz-header').click(() => {
            $('#mz-header-group').toggle();
        })

        $('#hexdump').click(() => {
            $('#hexdump-group').toggle();
        })

        const getHexdump = (dataJSON) => {
            $('#hexdump-group').html(dataJSON.dump_file);
        }

        const getMZHeader = (file) => {
            let DOS_HEADER = file["DOS_HEADER"];
                    
            delete DOS_HEADER['Structure'];

            let arrayResult = Object.keys(DOS_HEADER).map(function(key) {
                return `{"${key}" : ${JSON.stringify(DOS_HEADER[key])}}`;
            });

            arrayResult = arrayResult.map(function(a) {
                return JSON.parse(a)
            });

            arrayResult.sort((a, b) => {
                return Number(a[Object.keys(a)[0]].FileOffset) - Number(b[Object.keys(b)[0]].FileOffset);    
            });
            
            $('#mz-header-group').html(`
            <table class="table table-bordered">
                <tbody>
                    ${arrayResult.reduce((base, current) => {
                        return base + `
                        <tr>
                            <td>${Object.keys(current)[0]}</td>
                            <td>${current[Object.keys(current)[0]].Value}</td>
                        </tr>
                        `;
                    }, "")}
                </tbody>
            </table>`);
        }
    </script>

</body>
</html>