<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

    <style>
        p {
            line-height: 5px;
            cursor: pointer;
        }
        .level-1 {
            margin-left: 20px;
        }
        .level-2 {
            margin-left: 40px;
        }
    </style>

    <div class="row">
        <div id="menu-container" class="col-md-3 mt-2">
        </div>
        <div id="data-container" class="col-md-8">
        </div>
        <div class="col-md-1"></div>
    </div>
    
    <script>
        let data = '';
        let menu = `
                <p id="program" onClick="generateHexData('program')">Program</p>
                <p id="image-dos-header" class="level-1" onClick="generateTableData('dos_header')">IMAGE_DOS_HEADER</p>
                <p id="ms-dos-stub-program" class="level-1" onClick="generateHexData('dos_header')">MS-DOS Stub Program</p>   
                <p id="image-nt-headers" class="level-1">IMAGE-NT-HEADER</p>
                <p id="signature" class="level-2" onClick="generateTableData('signature')">Signature</p>
                <p id="image-file-header" class="level-2" onClick="generateTableData('file_header')">IMAGE_FILE_HEADER</p>
                <p id="image-optional-header" class="level-2" onClick="generateTableData('optional_header')">IMAGE_OPTIONAL_HEADER</p>`;

        $(document).ready(() => {
            $('#menu-container').hide();
            $('#menu-container').html(menu);

            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "http://localhost:3000/data",
                success: function(result) {
                    console.log('Loading file data done!')
                    data = result

                    generateMenu(data);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        
        const generateMenu = (dataJSON) => {

            sections = dataJSON.sections;
            names = sections.names;
            
            image_sections_html = '';
            
            for (name of names) {
                image_sections_html += `<p class="level-1" onClick="generateTableData('image-section-${name}')">IMAGE_SECTION_HEADER ${name}</p>` 
            }

            sections_html = ''

            for (name of names) {
                sections_html += `<p class="level-1" onClick="generateHexData('section-${name}')">SECTION ${name}</p>` 
            }

            menu += image_sections_html;
            menu += sections_html;

            $('#menu-container').html(menu);
            $('#menu-container').show()
        }

        const generateTableData = (name) => {
            dataTemp = null;

            if (name.startsWith('image-section')) {
                name = name.replace('image-section-', '');
                dataTemp = data.sections[name];
            }

            if (name == 'optional_header') {
                dataTemp = data.optional_header;
            }

            if (name == 'signature') {
                dataTemp = data.signature;
            }

            if (name == 'file_header') {
                dataTemp = data.file_header
            }

            if (name == 'dos_header') {
                dataTemp = data.dos_header
            }

            table = `<table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col">pFile</th>
                                <th scope="col">Data</th>
                                <th scope="col">Description</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>`;
            for (index in dataTemp) {
                if (isNaN(index) === false) {
                    table += `  <tr>
                                    <td scope="row">${dataTemp[index][0]}</td>
                                    <td>${dataTemp[index][1]}</td>
                                    <td>${dataTemp[index][2]}</td>
                                    <td>${dataTemp[index][3]}</td>
                                </tr>`;
                }
            }

            table += `  </tbody>
                    </table>`

            $('#data-container').html(table);
        }

        const generateHexData = (name) => {
            let data_temp = null;
            let result_html = `<div style="font-family: monospace;">`;
            
            if (name === 'program') {
                data_temp = data.dump_file;
            }

            if (name.startsWith('section-')) {
                name = name.replace('section-', '');
                data_temp = data.sections[name].data
            }

            if (name == 'dos_header') {
                data_temp = data.dos_header.data
            }

            result_html += data_temp;

            result_html = result_html + `</div>`;

            $('#data-container').html(result_html);
        }
    </script>
</body>
</html>